{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="w-50">
          <h1>Bienvenido a RuralMentalCare</h1>
          <h2>Aquí puedes agendar citas con profesionales de la salud mental, consultar recursos y mucho más</h2>
          <a href="#about" class="btn-get-started scrollto">Comenzar</a>
      </div>
    </div>
</section>
<div class="container mt-5">

    <main id="main">

        <section id="why-us" class="why-us">
          <div class="container">
    
            <div class="row">
              <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                  <h3>¿Por qué elegirnos?</h3>
                  <p class="text-justify">
                    Queremos acercar la salud mental a las personas que viven en zonas rurales, donde el acceso a los servicios de salud es limitado. </br>
                    Nuestro objetivo es brindar un servicio de calidad, que sea accesible y que se adapte a las necesidades de nuestros usuarios.
                  </p>
                </div>
              </div>
              <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4>Agendar Cita</h4>
                        <p>Reserva una cita con tu médico de manera fácil y rápida.</p>
                        <a href="{% url 'nueva_cita' %}" class="appointment-btn scrollto" style="margin: 0!important"><span class="d-none d-md-inline">Agendar</span> Cita</a>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Profesionales</h4>
                        <p>Conoce a los médicos y especialistas disponibles.</p>
                        <a href="{% url 'lista_profesionales' %}" class="appointment-btn scrollto" style="margin: 0!important"><span class="d-none d-md-inline">Ver</span> Profesionales</a>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-images"></i>
                        <h4>Recursos Educativos</h4>
                        <p>Accede a una variedad de recursos para tu salud.</p>
                        <a href="{% url 'lista_recursos' %}" class="appointment-btn scrollto" style="margin: 0!important"><span class="d-none d-md-inline">Explorar</span> Recursos</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
    
          </div>
        </section>
    </main>
</div>
{% endblock %}
