{% extends 'base.html' %}
{% load static %}
{% block title %}
  Iniciar Sesión
{% endblock %}
{% block content %}
<main id="main">
    <section id="appointment" class="appointment section-bg mt-5">
      <div class="container">
        <div class="section-title pt-5">
            <h2>Iniciar Sesión</h2>
            <p>Ingresa tus datos para iniciar sesión</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form> 
        </div>
    </section>
</main>
{% endblock %}