{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">
    <section id="doctors" class="doctors">
      <div class="containersection-bg mt-5">
        <div class="container">
          <div class="section-title pt-5">
            <h2>Nuestros Profesionales</h2>
            <p>Acá podrás ver los profesionales disponibles para atenderte.</p>
          </div>
          <div class="row">
            {% for profesional in profesionales %}
              <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                  <div class="pic">
                    
                    {% if profesional.imagen %}
                      <img src="{{ profesional.imagen }}" class="img-fluid" alt="Imagen de {{ profesional.usuario.first_name }} {{ profesional.usuario.last_name }}" style="aspect-ratio: 1 / 1;" width="200" />
                    {% else %}
                      <img src="{% static 'assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="" />
                    {% endif %}
                  </div>
                  <div class="member-info">
                    <h4>{{ profesional.usuario.first_name }} {{ profesional.usuario.last_name }}</h4>
                    <span>{{ profesional.especialidad }}</span>
                  </div>
                </div>
              </div>
              {% empty %}
              <p class="text-center">
                <b>No hay profesionales disponibles</b>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
